.swiper-container{
    overflow: hidden;
}
.swiper-wrapper{
    width: 100%;
    height: 900px;
}
.swiper-info {
    display: block;
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
}
.swiper-slide{
    background-size: cover, cover !important;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 900px;
    width: 100%;
}
.swiper-slide > img{
    background-position: center top no-repeat;
    background-size: cover;
    opacity: 0.5;
}