.main-swiper-container{
    overflow: hidden;
}
.main_slider{
    width: 100%;
    height: 900px;
}
.swiper-info {
    display: block;
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
}
.main_slide{
    display: flex;
    background-size: cover, cover !important;
    justify-content: center;
    width: 100%;
    position: relative;
    align-items: center;
}
.main_slide > img{
    background-position: center top no-repeat;
    background-position: center;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}