.media-container{
    width: 75%;
    margin: auto;
}
.media-swiper-container > h2 {
    padding: 20px 0 0 0;
}
.media_wrapper{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
.media_wrapper > a {
    display: grid;
    grid-template-rows: repeat(4, auto);
    text-decoration: none;
    color: #f9f9f9;
}
a > span{
    position: relative;
    top: 25px;
    left: 5px;
    color: #f9f9f9;
}
.media_carousel_separator{
    padding: 2.5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: none;
}